@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root{
    --roboto: "Roboto", sans-serif;
    --open-sans: "Open Sans", sans-serif;
}

*,::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--open-sans);
    background-image: url(./pexels-gabriel-peter-696644.jpg);
    color: rgb(26, 26, 26);
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    line-height: 1.5;
}

.main_part{
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_part{
    background-color: rgb(246, 246, 246);
    border: 1em solid rgb(246, 246, 246);
    border-radius: 1rem;
    padding: 2rem;
}

h1{
    font-size: 2rem;
    letter-spacing: .4rem;
}

.modal_open{
    margin-top: 1.5rem;
    border: 0.18rem solid skyblue;
    border-radius: 1rem;
    letter-spacing: .1rem;
    background: transparent;
    text-transform: uppercase;
    color: rgb(139, 92, 139);
    transition: all .3s linear;
}

.modal_open:hover{
    background-color: skyblue;
    color: antiquewhite;
    cursor: pointer;
}

.outer_part{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(72, 120, 139, 0.5);
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -10;
}

.open_modal{
    visibility: visible;
    z-index: 10;
}

.invisible{
    visibility: hidden;
}

.modal_container{
    height: 20%;
    width: 70%;
    background-color: aliceblue;
    border: 0;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.modal_content{
    padding: 2rem;
}

.close_btn{
    background: none;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    color:rgb(139, 92, 139);
    transition: all .3s linear;
}

.close_btn:hover{
    font-size: 1.8rem;
    transform: rotate(180deg);
    color: rgb(143, 7, 7);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    h1{
        letter-spacing: normal;
    }

    .modal_container{
        width: 90%;
        height: 20%;
    }
}

@media screen and (max-width: 400px) {
    .modal_container{
        height: 30%;
    }
}